.dir-div {
    color: black;
    padding-right: 0;
}
.dir-div:hover {
    background-color: #C9FAC7;
    cursor: pointer;
    /*color: white;*/
}
.info-row {
    padding-right: 0;
}

.root-dir{
    color: green;
    text-align: center;
    border-bottom: 2px solid green;
}

.file-div {
    color: #4e555b;
    margin-left: 30px;
}

.file-div:hover {
    background-color: lightgrey;
}
.dir-content {
    display: none;
}

.main-content {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1
}

h4 {
    /*background-color: lightgrey;*/
}
.padd-0 {
    /*padding-left: 10px;*/
    font-size: large;
    font-weight: bolder;
}

.padd-10 {
    padding-left: 10px;
    font-size: large;
    font-weight: bold;
}
.padd-20 {
    padding-left: 20px;
    font-size: large;
    font-weight: bold;
}
.padd-30, .padd-40, .padd-50, .padd-60, .padd-70, .padd-80, .padd-80{
    padding-left: 30px;
    font-size: large;
    font-weight: normal;
}

/*.padd-20:hover, .padd-40:hover, .padd-60:hover, .padd-80:hover, .padd-100:hover, .padd-120:hover, .padd-140:hover {*/
/*    background-color: #C8F27D;*/
/*    color: white;*/
/*}*/

.padd-40 {
    padding-left: 40px !important;
}
.padd-60 {
    padding-left: 50px !important;
}
.padd-80 {
    padding-left: 60px !important;
}
.padd-100 {
    padding-left: 70px !important;
}
.padd-120 {
    padding-left: 80px !important;
}
.padd-140 {
    padding-left: 90px !important;
}

.dir-div {
    padding-left: 10px;
    margin-top: 15px;
    /*border: 1px solid rgb(160,160,255);*/
}

.div-size {
    float: right;
    text-align: center;
}

.div-name {
    float: left;
}
.delete-btn {
    display: none;
    text-align: left;
}

.deleted {
    background-color: #FED7BA;
    border: 1px solid #FEB179;
    transition: background-color 1s linear;
}

.directory-size {
    text-align: right;
}

.file-size {
    text-align: right;
}

.expanded-dir {
    background-color: #C9FAC7 ;
    transition: background-color .5s linear;
    border: 1px solid #C9FAC7;
    border-radius: 10px;
}

.dir-metadata {
    font-size: small;
    color: darkgreen;
    padding-left: 25px;
    display: none;
}
.dir-info-text {
    font-weight: bolder;
}

.wrapper {
    margin-top: 100px;
    height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
}

.info-view {
    display: none;
}

.icon-div {
    padding: 0;
    max-width: 2%;
}