.dir-div {
    color: black;
    /*border: 1px solid gray;*/
    /*width: 80%;*/
}

.file-div {
    color: #4e555b;
    /*width: 60%;*/
    padding-left: 50px;
}

.main-content {
    border: 1px solid black;
    /*width: 70%;*/
}

h4 {
    /*background-color: lightgrey;*/
}

.padd-10 {
    padding-left: 10px;
}
.padd-20 {
    padding-left: 20px;
}
.padd-30 {
    padding-left: 30px;
}
.padd-40 {
    padding-left: 40px;
}
.padd-50 {
    padding-left: 50px;
}
.padd-60 {
    padding-left: 60px;
}
.padd-70 {
    padding-left: 70px;
}
.padd-80 {
    padding-left: 80px;
}
.padd-90 {
    padding-left: 90px;
}

.info-row {
    padding-left: 10px;
}


