<div class="main-content">
    <div class="root-dir container"><h1>{{ file_tree['name'] }}</h1>
        <div class="container">
            <div class="disk-info container">
                <div class="row">
                    <div class="col-4"> Free
                        Space: {{ disk_info[2]|filesizeformat(true) }}
                    </div>
                    <div class="col-4"> Used
                        Space: {{ disk_info[1]|filesizeformat(true) }}
                    </div>
                    <div class="col-4">
                        Total: {{ disk_info[0]|filesizeformat(true) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>