{% extends 'base.html' %}

{% macro folderSize(sub_dir) %}
    {% if sub_dir|length > 0 %}
        {% set dir_size = namespace(size=0, dir=false) %}
        {% for file in sub_dir %}
            {% if file['type'] == 'file' %}
                {% set dir_size.size = dir_size.size + file['size'] %}
            {% elif file['type'] == 'directory' %}
                {% set dir_size.dir = true %}
            {% endif %}
        {% endfor %}
        {% if dir_size.dir %}
            <i class="fa fa-folder" aria-hidden="true" style="font-size:24px;color:darkgreen"></i>
{#            <i class="fa fa-folder-open-o" aria-hidden="true" style="font-size:24px;color:darkgreen"></i>#}
        {% else %}
            <span>{{ dir_size.size |filesizeformat(true) }}</span>
        {% endif %}
    {% else %}
        <span class="empty-dir">Empty</span>
    {% endif %}
{% endmacro %}

{% macro renderFile(elem) %}
    <div class="container  {{ elem['status'] }}" id="dir-files" data-parent="{{ parent }}">
        <div class="row file-div">
          <div class="col-9 dir-name">{{ elem['name'] }}</div>
              <div class="col-3 div-size ml-auto">
                  {{ elem['size']|filesizeformat(true) }}
                  {% if elem['status'] == 'available' %}
                      <div data-cont="file" data-path="{{ elem['path'] }}" class="delete-btn" id="delete-file">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                      </div>
                  {% endif %}
              </div>
        </div>
    </div>
{% endmacro %}

{% macro renderElements(elem, count) %}
    {% set divclass = "padd-" ~ count %}
        {% if elem['type'] == 'directory' %}
            <div class="container info-row {{ elem['status'] }}" id="info-row-div">
                <div class="dir-div col-12 {{ divclass }}">
                    <div class="row directory-row">
                        <div class="col-10 dir-name"><span>{{ elem['name'] }}</span></div>
                        {% if elem['status'] == 'available' %}
                            <div class="col-2 div-size ml-auto">
                              {{ folderSize(elem['children']) }}
                              <div data-cont="dir" data-path="{{ elem['path'] }}" class="delete-btn"><i class="fa fa-trash" aria-hidden="true"></i></div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="dir-content">
                        {% for file in elem['children'] %}
                            {% set count = count + 20 %}
                            {{ renderElements(file, count) }}
                        {% endfor %}
                        {% set count = 0 %}
                    </div>
                </div>
            </div>
        {% elif elem['type'] == 'file' %}
            {{ renderFile(elem) }}
        {% endif %}
{% endmacro %}


{% block container %}
    <div class="main-content">
        <div class="root-dir container">
            {{ file_tree['name'] }}
        </div>
        <div>
            {% for row in file_tree['children']|sort(attribute='type', reverse = True) %}
                {{ renderElements(row, 0) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}