{% extends 'base.html' %}

{% macro folderSize(sub_dir) %}
    {% if sub_dir|length > 0 %}
        {% set dir_size = namespace(size=0, dir=false) %}
        {% for file in sub_dir %}
            {% if file['type'] == 'file' %}
                {% set dir_size.size = dir_size.size + file['size'] %}
            {% elif file['type'] == 'directory' %}
                {% set dir_size.dir = true %}
            {% endif %}
        {% endfor %}
        {% if dir_size.dir %}
            <i class="fa fa-folder" aria-hidden="true" style="font-size:24px;color:darkgreen"></i>
{#            <i class="fa fa-folder-open-o" aria-hidden="true" style="font-size:24px;color:darkgreen"></i>#}
        {% else %}
            <span>{{ dir_size.size |filesizeformat(true) }}</span>
        {% endif %}
    {% else %}
        <span class="empty-dir">Empty</span>
    {% endif %}
{% endmacro %}

{% macro renderChildren(parent_dir, sub_dir, count) %}
  <div class="info-row">
      {% set divclass = "padd-" ~ count %}
      <div class="dir-div col-12 {{ divclass }}" >
        <div class="row">
          <div class="col-10 dir-name"><span>{{ parent_dir['name'] }}</span></div>
          <div class="col-2 div-size ml-auto">{{ folderSize(sub_dir) }}</div>
        </div>

      </div>
      {% for item in sub_dir | sort(attribute='type', reverse = True) %}
        {% if item['type'] == 'directory' %}
          {% set count = count + 10 %}
          {{ renderChildren(item, item['children'], count) }}
        {% else %}
          {% set count = 0 %}
          <div class="container" id="dir-files">
            <div class="row file-div">
              <div class="col-9 dir-name">{{ item['name'] }}</div>
              <div class="col-3 div-size ml-auto">{{ item['size']|filesizeformat(true) }}</div>
            </div>
          </div>
        {% endif%}
      {% endfor %}
  </div>
{% endmacro %}
{% block container %}
  <div class="main-content">
{#    <h2>Root: {{all_files['name']}}</h2>#}
    {{ renderChildren(all_files, all_files['children']|sort(attribute='type', reverse = True), 0) }}
  </div>
{% endblock %}